html{
    background-color:black;
    background-image:url(References/Minnesota_River_Bank.JPG);
    background-repeat: no-repeat;
    background-attachment: local;
    background-position:top;
    background-size: 100% 80vh;
}
body{
    margin: 0;
    border: 0;
    color:white;
}
p{
    color:white;
    margin:30px;
    border:30px;
    text-align:center;
    font-size:40px;
}
img{
    color:black;
    height: 10vh;
}

hr {
    
}


#BigVoid {
    width: 95vw;
    margin: 0 auto;
    float: center;
    border: 1vh;
    border-style: outset;
    border-color: white;
    overflow: hidden;
}

#HomeButton {
    float: left;
    text-align: center;
    font-size: 4vh;
    margin-top: 2vh;
    margin-left: 5vh;
    border: 1vh;
    border-style: outset;
    padding: 2vh;
}

#Title {
    color:white;
    float: center;
    text-align:center;
    font-size:15vh;
    height: 48vh;
}

#BottomTitle {
    font-size: 4vh;
    text-align:center;
    height: 30vh;
    float: center;
    padding: 1vh;
}

#MiddleList {
    font-size: 4vh;
    color: aliceblue;
    text-align:center;
    margin: 0 auto;
    width:32%;
    float: center;
    padding-bottom:4vh;
}


#LeftContact {
    bottom:0;
    text-align: center;
    height:6vh;
    width: 22%;
    margin: 0 auto;
    float: left;
}

#MiddleContact {
    bottom: 0;
    text-align: center;
    height: 6vh;
    width: 22%;
    margin: 0 auto;
    float: center;
}

#RightContact {
    bottom: 0;
    text-align: center;
    height: 6vh;
    width: 22%;
    margin: 0 auto;
    float: right;
}